h1, h2, h3 { text-align: center; }

body.index-page { background-color: #1e2f49; }

table.index-page {
width: 100%;
background-color: #ffffff
border-collapse: collapse;
}

th.index-page {
background-color: #ffffff;
font-weight: bold;
padding: 20px;
}

.center-pic {
display: block; /* элемент отображается на всю доступную ширину экрана */
margin: auto;   /* отцентрировать элемент по горизонтали */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
