@keyframes header_anim {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(0);
    }
  }

  .divText {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 6vw;
    font-weight: 700;
    transform: translateX(0);
    animation-name: header_anim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-transform: uppercase;
    color: #3aebca;
    align-self: center;
    }

  .header {
  display: flex;
  min-height: 80vh;
  max-width: 90%;
  padding: 8px 30px;
  }
