h1, h2, h3 { text-align: center; }

body.index-page { background-color: #1e2f49; }

table {
width: 100%;
background-color: #ffffff;
border-collapse: collapse;
margin: 0 auto;
}

th.index-page {
font-weight: bold;
padding: 10px;
border: 1px solid #1e2f49;
width: 25%;
}

th.header {
padding: 20px;
text-align: center;
width: 33%;
}

th.feedback-page {
padding: 20px;
text-align: center;
width: 50%;
}

th.index-button {
padding: 20px;
text-align: right;
width: 33%;
}

img.fullscreen {
width: 100%; /* ширина изображения */
}

img.img-button {
width: 10%; /* ширина кнопки "домой" */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
